*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    box-sizing: border-box;
}

body{
    background: rgb(36, 37, 41);
    width: 100vw;
}

.cabecalho{
    display: flex;
    justify-content: center;
    padding: 2rem;
}

.titulo{
    color: white;
    font-weight: bold;
}

.display{
    display: flex;
    justify-content: center;
    width: 100%;
}

.cards{
    display: flex;
    flex-wrap: wrap;
    max-width: 755px;
    gap: 1rem;
}


.play{
    text-align: center;
    font-size: 25px;
    color: rgb(99, 122, 235);
    border: none;
    position: absolute;
    background: rgba(174, 237, 254, 95%);
    padding: 1rem;
    border-radius: 50%;
    margin-left: 100px;
    margin-top: 90px;
    box-shadow: 5px 0px 10px rgba(174, 237, 254, 50%), -5px 0px 10px rgba(174, 237, 254, 50%);
    opacity: 0;
    cursor: pointer;
}
